{% extends 'base.html' %} {% block title %}
<title>{{post.title}}</title>
{% endblock %} {% block content %}
<div class="container">
    <div>
        <h1>{{post.title}}</h1>
    </div>
    <div>
        <p>{{post.content}}</p>
    </div>
    <div>
        <p>By {{post.user.get_full_name()}}</p>
    </div>
    <div>
</div>
    <a href="/users" class="btn btn-outline-primary btn-sm">Cancel</a>
    <a href="/posts/{{post.id}}/edit" class="btn btn-primary btn-sm">Edit</a>
    <a href="/posts/{{post.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
</div>
{% endblock %}
