{% extends 'base.html' %} {% block title %}
<title>{{user.first_name}}</title>
{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="column mr-3">
            <img src="{{user.url}}" alt="Image of {{user.first_name}}" />
        </div>
        <div class="column">
            <h1>{{user.get_full_name()}}</h1>
            <a href="/users/{{user.id}}/edit" class="btn btn-primary btn-sm">
                Edit
            </a>
            <a href="/users/{{user.id}}/delete" class="btn btn-danger btn-sm">
                Delete
            </a>
            <h2>Posts</h2>
            <ul>
                {% for post in posts %}
                <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
                {% endfor %}
            </ul>
            <a
                href="/users/{{user.id}}/posts/new"
                class="btn btn-primary btn-sm"
            >
                Add Post
            </a>
        </div>
    </div>
</div>
{% endblock %}
